body{
    color: rgb(113, 189, 227);
    text-align: center;
    font-family: 'orbitron' , sans-serif;
    font-size: 40px;
    
}
.btn{
    padding: 6px 12px;
    background-color: white;
    border: none;
    font-family: 'orbitron' , sans-serif;
    font-size: 50px;
    color: rgb(114, 187, 224);
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}
.ate{
    color: red;
    border-bottom: 10px solid white;
}
#hero{
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjBvZ3MzcnZ1dWRscm13NTV3bDd3eDBkdW16bXJrN3R1cjR2YXdxcyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/sJvz8Qnfly3BOuotGx/giphy.gif");
    background-size: cover;
    padding: 100px 0px 150px 0px;
    
}
#title{
    text-shadow: 5px -5px 4px black;
}